ejemplo/
*.swp
*.out
*.yy.c
*.pdf

c-tds
*.o

#opcional
*.tab.c
*tab.h

parser

# File for tokens generated (-t scan)
last_generated_tokens.lex

# File for ast generated (-t parse || -t codinter || -t assembly)
last_generated_ast.sint

# File for tac generated (-t codinter || -t assembly)
last_generated_tac.ci

# File for assembly generated (-t assembly)
last_generated_assembly.ass
# Assembly executable
*.s
us_file
